name: Build Windows

on: workflow_dispatch

env:
  BUILD_TYPE: Release

jobs:
  windows-mingw_w64:
    runs-on: windows-2022
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-tags: true
        submodules: recursive
        fetch-depth: 0

    - name: Install MSYS2 Packages
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-qt5-static
          mingw-w64-x86_64-fftw
          mingw-w64-x86_64-libusb

    - name: Start Windows Build
      shell: msys2 {0}
      run: |
        cmake -D CMAKE_PREFIX_PATH=/mingw64/qt5-static -D CMAKE_BUILD_TYPE=$BUILD_TYPE -B build
        cmake --build build --parallel 8 --target package

    - name: Create Windows Package
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: |
        ZIP=$(basename packages/openhantek_*_mingw_x64.zip)
        rm -f packages/openhantek_*_mingw_x64.*
        cd openhantek
        7z a ../packages/$ZIP *.exe driver documents
        ls -l ../packages

    - name: Upload to Google Drive
      uses: logickoder/g-drive-upload@main
      with:
        credentials: ${{ secrets.GOOGLE_ID }}
        filename: 'build/packages/$ZIP'
        folderId: ${{ secrets.FOLDER_ID }}
        overwrite: 'true'

