#
# build.yml - GitHub build action for OpenHantek6022
# Copyright (C) 2023- OpenHantek community
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
#


name: Build Windows
# check if OH6022 builds on some recent operating systems
# deploy Ubuntu / macOS / Windows binaries

on: workflow_dispatch


env:
  # CMake build type (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release


jobs:

# ---------------------------
# --- Windows MINGW steps ---
# ---------------------------
#
  windows-mingw_w64:
    runs-on: windows-2022
    steps:

    # --- Clone the latest commit ---
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-tags: true
        submodules: recursive
        fetch-depth: 0

    - name: install qt static
      uses: orestonce/install-qt-static@v0.4.3
      with:
        version: Qt5.15.7-Windows-x86_64-MinGW8.1.0-staticFull-20221104

    - name: Start Windows Build
      #shell: msys2 {0}
      run: |
        cmake -D CMAKE_PREFIX_PATH=/mingw64/qt5-static -D CMAKE_BUILD_TYPE=$BUILD_TYPE -B build
        cmake --build build --parallel 8 --target package

    - name: Create Windows Package
      # GitHub hosts Windows runners on Standard_DS2_v2 virtual machines in Microsoft Azure:
      # 2-core CPU, 7 GB of RAM memory, 14 GB of SSD disk space
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: |
        # this ZIP package contains only OpenHantek.exe, just get the name
        ZIP=$(basename packages/openhantek_*_mingw_x64.zip)
        rm -f packages/openhantek_*_mingw_x64.*
        cd openhantek
        7z a ../packages/$ZIP *.exe driver documents
        ls -l ../packages

    - name: Upload to Google Drive
      uses: logickoder/g-drive-upload@main
      with:
        credentials: ${{ secrets.GOOGLE_ID }}
        filename: 'build/packages/$ZIP'
        folderId: ${{ secrets.FOLDER_ID }}
        overwrite: 'true'

